 body {
  background-color: #498daf;
  padding: 20px;
  margin: 0;
 
}
 h2, p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {

font: bold italic 3em/1em "Times New Roman", "MS Serif", "New York", serif;

background: black;

padding: 20px;

text-align: center;

margin: 100;

margin-top: 50px;

color: white;

}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
